@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}


<div class="bg_index borders_index container">
   
        <h1 class="borders_index h1_index" >Account</h1>
        <div class="btn_index">
            <a asp-page="/Sign_in" class="btn btn-default info_index borders_index">Sign in</a>
            <a asp-page="/Registration" class="btn btn-default info_index borders_index">Registration</a>
            <a asp-page="/Change" class="btn btn-default info_index borders_index">Edit</a>
        </div>
       
</div>
 

